.textInput {
  display: block;
  margin: 10px 0;
  font-size: 20px;

  .label {
    width: 30%;
    display: inline-block;
  }

  .input {
    width: 70%;
    box-sizing: border-box;
    font-size: 20px;
  }
}
