.radioInput {
  margin: 10px 0;
  font-size: 20px;

  .option {
    display: inline-block;
  }
  .label {
    width: 30%;
    display: inline-block;
  }

  .inputs {
    width: 70%;
    box-sizing: border-box;
    font-size: 20px;
    display: inline-block;
  }
}
