.header {
  border-bottom: 1px solid #AAAAAA;
  padding-bottom: 10px;

  h1 {
    width: 50%;
    line-height: 80px;
    padding: 0;
    margin: 0;

    &.withLink {
      float: left;
    }
  }


  .link {
    overflow: hidden;
    width: auto;
    text-align: right;
    line-height: 80px;
    display: block;
  }
}
