.item {
  height: 60px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;

  img {
    height: 100%;
    width: 30%;
  }

  span {
    line-height: 60px;
    float: right;
    width: 70%;
    padding-left: 10px;
    box-sizing: border-box;
  }
}
